*
{
    padding: 0%;
    margin: 0%;
}
.heading
{
    color: white;
    background-color: black;
    padding: 20px;
    margin: 20px;
    
}

h1
{
    text-align: center;
    font-size: 3rem;

}


.container
{   
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clockTime
{
    color: white;
    font-size: 4rem;
    padding: 3rem;

}

button
{
    padding: 20px;
    width: 200px;
    border: none;
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 50px;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 0 10px black;
    margin: 30px;

}

button:hover
{
    background-color: rgb(167, 255, 255);
}
